html {
  font-family: "Fjalla One"; }

.NavBar {
  background-color: whitesmoke;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.logo {
  width: 50px; }

div {
  color: black;
  font-family: "Fjalla One"; }

.mountain_div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./components/mountains.jpg) no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 150px; }

.mountain_div h1 {
  font-size: 60px; }

.mountain_div h2 {
  font-size: 2em; }

.contact {
  background: #0075c1;
  font-family: "Fjalla One";
  color: white;
  border-color: #0075c1; }

.home_navagation {
  display: flex;
  justify-content: space-around;
  height: 80vh; }

.navagation_div {
  height: 50vh;
  width: 33vw;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center; }

.blog_div {
  display: flex;
  flex-direction: column; }
