html {
  font-family: "Roboto"; }

.NavBar {
  background-color: #fffdfd;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed; }

.NavBar a {
  font-size: large;
  font-weight: 700; }

.navbar_logo {
  width: 50px; }

.navbar_hamburger_icon {
  display: none; }

.navbar_hamburger {
  background-color: #fffdfd;
  height: 10vh;
  justify-content: space-around;
  align-items: center; }

div {
  color: black;
  font-family: "Roboto"; }

#landing_page {
  background-color: whitesmoke; }

.mountain_div_landing_page {
  font-family: "Fjalla One";
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./components/mountains.jpg) no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 40px; }

.mountain_div {
  font-family: "Fjalla One";
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./components/mountains.jpg) no-repeat;
  background-position-y: -250px;
  background-size: cover;
  color: white;
  margin-bottom: 40px;
  padding-bottom: 15px; }

.landing_div {
  background-color: whitesmoke; }

.mountain_div_landing_page h1 {
  font-size: 60px;
  text-align: center; }

.mountain_div_landing_page h2 {
  font-size: 2em; }

.mountain_div h1 {
  font-size: 50px;
  text-align: center; }

.mountain_div h2 {
  font-size: 30px; }

.contact {
  background: #0075c1;
  font-family: "Roboto";
  color: white;
  border-color: #0075c1; }

.main_navagation {
  display: flex;
  justify-content: space-around;
  height: 55vh;
  background-color: whitesmoke; }

.navagation_div {
  height: 400px;
  width: 400px;
  background: #fffdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .navagation_div .btn {
    font-size: 20px;
    background: #0075c1;
    color: white; }
  .navagation_div img {
    width: 110px;
    margin-bottom: 40px; }

.admin {
  width: 85vw;
  padding-left: 15vw;
  display: flex;
  justify-content: center; }

.admin_navagation_div {
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 400px;
  background: #fffdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .admin_navagation_div img {
    width: 110px; }

.treatment_options {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85vw;
  padding-left: 15vw; }

.treatment {
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 50vh;
  padding-left: 5vw;
  margin-top: 30px; }

.treatment_image_appliance {
  background: url(./components/oral_appliance.jpg) center no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  align-self: center; }

.treatment_image_mask {
  background: url(./components/cpap_mask.png) center no-repeat;
  background-size: contain;
  background-color: white;
  width: 400px;
  height: 400px;
  align-self: center; }

.treatment_image {
  background: lightgray;
  width: 400px;
  height: 400px;
  align-self: center; }

.treatment_description {
  margin-left: 5vw;
  width: 60vw;
  display: flex;
  flex-direction: column; }

.faq {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85vw;
  padding-left: 15vw; }
  .faq h3 {
    margin-bottom: 50px; }

.contact_us {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 85vw;
  padding-left: 15vw; }

.contact_us_office {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 85vw;
  padding-left: 15vw; }
  .contact_us_office img {
    width: 110px; }
  .contact_us_office div {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column; }

.blog_div {
  display: flex;
  flex-direction: column; }

.blog_div p {
  font-size: larger; }

.posts {
  width: 85vw;
  padding-left: 15vw; }

.title_atag {
  color: black; }

.input {
  background-color: mintcream;
  color: black;
  text-align: center;
  width: 40vw;
  margin-bottom: 3vh;
  font-size: 120%; }

.admin_login {
  background: url(./components/mountains.jpg) no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.login_portal {
  background: rgba(0, 0, 0, 0.35);
  color: white;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .login_portal img {
    width: 110px; }
  .login_portal .btn {
    background: #0075c1;
    border-color: #0075c1;
    color: white;
    margin-bottom: 5px; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ccc; }

@media (max-width: 1250px) {
  .navagation_div {
    height: 300px;
    width: 300px;
    margin-bottom: 5px;
    margin-bottom: 15px; } }

@media (max-width: 1200px) {
  .NavBar a {
    font-size: larger;
    font-weight: 500; } }

@media (max-width: 1000px) {
  .welcome_text h3 {
    font-size: 15px; } }

@media (max-width: 950px) {
  .mountain_div h1 {
    font-size: 50px; }
  .mountain_div_landing_page h1 {
    font-size: 50px; }
  .main_navagation {
    flex-direction: column;
    align-items: center;
    height: 100vh; } }

@media (max-width: 900px) {
  .navbar_link {
    display: none; }
  .navbar_hamburger_icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 35px; }
  .navbar_hamburger {
    position: fixed;
    background-color: #fffdfd;
    width: 100vw;
    height: 10vh; }
  .navbar_hamburger a {
    font-size: smaller; }
  .navbar_logo {
    position: absolute;
    left: 25px;
    top: 25px; }
  .mountain_div {
    background-position-y: 0px; } }

@media (max-width: 800px) {
  .mountain_div h1 {
    font-size: 42px; }
  .mountain_div h2 {
    font-size: 25px; }
  .mountain_div a {
    font-size: 12px; } }

@media (max-width: 550px) {
  .mountain_div h1 {
    font-size: 35px; }
  .mountain_div h2 {
    font-size: 18px; }
  .mountain_div_landing_page h1 {
    font-size: 35px; }
  .mountain_div_landing_page h2 {
    font-size: 18px; }
  .contact {
    font-size: 10px; }
  .landing_div h2 {
    font-size: 18px; }
  .welcome_text {
    width: 60vw;
    margin-left: 20vw; }
  .navagation_div {
    height: 200px;
    width: 200px; } }

@media (min-width: 900px) {
  .navbar_hamburger {
    display: none !important; } }
