$psac_blue: #0075c1;
$psac_font: 'Fjalla One';
$navbar_color: #fffdfd;

html {
  font-family: $psac_font;
}

.NavBar {
  background-color: $navbar_color;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed
}

.NavBar a {
  font-size: large;
  font-weight: 700;
}

.navbar_logo {
  width: 50px;
}

.navbar_hamburger_icon {
  display: none;
}

.navbar_hamburger {
  background-color: $navbar_color;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

div {
  color: black;
  font-family: $psac_font;
}

#landing_page {
  background-color: whitesmoke;

}

.mountain_div_landing_page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./components/mountains.jpg) no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 40px;
}

.mountain_div {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./components/mountains.jpg) no-repeat;
  background-position-y: -250px;
  background-size: cover;
  color: white;
  margin-bottom: 40px;
}

.landing_div {
  background-color: whitesmoke;
}
.mountain_div_landing_page h1 {
  font-size: 60px;
  text-align: center;
}

.mountain_div_landing_page h2 {
  font-size: 2em;
}
.mountain_div h1 {
  font-size: 50px;
  text-align: center;
}

.mountain_div h2 {
  font-size: 30px;
}

.contact {
  background: $psac_blue;
  font-family: $psac_font;
  color: white;
  border-color: $psac_blue;

}

.main_navagation {
  display: flex;
  justify-content: space-around;
  height: 55vh;
  background-color: whitesmoke
}

.navagation_div {
  height: 50vh;
  width: 33vw;
  background: $navbar_color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin_page_div {
  display: flex;
  justify-content: space-around;
}

.blog_div {
  display: flex;
  flex-direction: column;
}

.title_atag {
  color: black;
}

.input {
  background-color: mintcream;
  color: black;
  text-align: center;
  width: 40vw;
  margin-bottom: 3vh;
  font-size: 120%;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
}

@media(max-width: 1200px) {
  .NavBar a {
    font-size: larger;
    font-weight: 500;
  }
}

@media(max-width: 900px) {
  .navbar_link {
    display: none;
  }
  .navbar_hamburger_icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 35px;
  }
  
  .navbar_hamburger {
    position: fixed;
    background-color: $navbar_color;
    width: 100vw;
    height: 10vh;
  }

  .navbar_hamburger a{
    font-size: smaller;
  }
  
  .navbar_logo {
    position: absolute;
    left: 25px;
    top: 25px;
  }

  .mountain_div {
    background-position-y: 0px;
  }
}


@media(max-width: 950px) {
  .mountain_div h1 {
    font-size: 50px;
  }

  .mountain_div_landing_page h1 {
    font-size: 50px;
  }

  .main_navagation {
    flex-direction: column;
    align-items: center;
    height: 100vh
  }
    
  .navagation_div {
    height: 300px;
    width: 65vw;
    margin-bottom: 5px
  }
}

@media(max-width: 550px) {
  .mountain_div h1 {
    font-size: 35px;
  }
  .mountain_div h2 {
    font-size: 18px;
  }
  .mountain_div_landing_page h1 {
    font-size: 35px;
  }
  .mountain_div_landing_page h2 {
    font-size: 18px;
  }
  .contact {
    font-size: 10px
  }
  .landing_div h2 {
    font-size: 18px
  }
  .welcome_text {
    width: 60vw;
    margin-left: 20vw;
  }
}
 
@media(max-width: 1000px){
  .welcome_text h3 {
    font-size: 15px;
  }
}


@media(min-width: 900px){
   .navbar_hamburger {
    display: none !important;
  }
}