$psac_blue: #0075c1;
$psac_font: 'Fjalla One';

html {
  font-family: $psac_font;
}
.NavBar {
  background-color: whitesmoke;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 50px;
}

div {
  color: black;
  font-family: $psac_font;
}

.mountain_div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./components/mountains.jpg) no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 150px;
}

.mountain_div h1 {
  font-size: 60px;
  text-align: center;
}

.mountain_div h2 {
  font-size: 2em;
}

.contact {
  background: $psac_blue;
  font-family: $psac_font;
  color: white;
  border-color: $psac_blue;

}

.home_navagation {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.navagation_div {
  height: 50vh;
  width: 33vw;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin_page_div {
  display: flex;
  justify-content: space-around;
}

.blog_div {
  display: flex;
  flex-direction: column;
}

.title_atag {
  color: black;
}

.input {
  background-color: mintcream;
  color: black;
  text-align: center;
  width: 40vw;
  margin-bottom: 3vh;
  font-size: 120%;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
}